# macOS system files
.DS_Store
bun.lock
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Specific project folders
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/audiofiles/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/audiofiles
node_modules
node_modules/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/pic
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/pic/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/examples
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/examples/*
