# macOS system files
.DS_Store
bun.lock
.env
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/audiofiles/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/audiofiles
node_modules
node_modules/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/pic
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/pic/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/examples
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/examples/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/__pycache__
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/__pycache__/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/gemini-prompts/__pycache__
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/gemini-prompts/__pycache__/*
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/mycode/__pycache__
q2winter/hcid521-prototyping/cp6-mvp/raspberry-pi-code/displaycode/mycode/__pycache__/*
